<md-content class="login-form" layout-align="space-around" layout="row" layout-padding="layout-padding">
	<md-card flex="flex" flex-gt-sm="50" flex-gt-md="25">
	<div layout="column" >
	<md-toolbar class="md-toolbar-tools">
	<span><h2>User Login </h2></span></div>
</md-toolbar>
		
	

		<md-input-container flex >
			<md-message class="my-message" ng-if="controller.errorMensaje!=null">{{controller.errorMensaje}}</md-message>
			<div>userName</div>
			<div>
				<input type="text" name="name" ng-model="name"/>
			</div>
		</md-input-container>
		<md-input-container flex >
			<div>password</div>
			<div>
				<input type="password" name="password" ng-model="password"/>
			</div>
		</md-input-container>
		<div flex>
			<md-button  layout-align="space-around" class="md-raised md-primary"  type="button"  name="" ng-click="controller.procesar()">Log in</md-button>
		</div>
	</md-card>
	
	</div>
</md-content>

